body {
   display:flex;
   justify-content: center;
   min-height: 100vh;
   background-color: #F5B19C;
   margin: 0;
 }
 
 
 .side-bar {
    background-color: #F9F4E9;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 90px;
    width: 200px;  
    height: 400px;
    
 }

 .thing {
   padding-bottom: 15px;
 }
 
 
 .headings {
    font-weight: 500;
 }
 
 
 .info {
    font-weight: 250;
 }
 
 

 

 
 body {
    display: flex;
 }
 
 
 #cat {
    padding-top: 90px;
    padding-left: 120px;
    width: 300px;
    height: 300px;
 }
 

 .profile {
   display: flex;
   flex-direction: column;
   
 
 }



.label {
   font-weight: 200;
 }

 .image {
   padding-bottom: 20px;
 }


 h1 {
   text-align:center;
   padding-left: 110px;
   color: #365F32;
 }
